.inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;
  height: 100vh;
  padding: 3rem;
}

.inputSection input {
  width: 50%;
  height: 5rem;
  padding: 0.5rem;
  border: none;
  border-bottom: 5px solid #007892;
  background-color: rgba(0, 0, 0, 0);

  font-size: 3rem;
}

.inputSection input:focus {
  outline: none;
}

.inputSection input:nth-child(2) {
  margin-top: 2rem;
}
